# Ignore everything by default
**

# Allow Python source files and packages
!**/*.py

# Allow all source folders
!gk6/
!tests/

# Allow config and metadata
!pyproject.toml
!poetry.lock
!Makefile
!.pre-commit-config.yaml
!README.md

# Allow GitHub workflows
!.github/
!.github/workflows/
!.github/workflows/*.yml

# Allow .gitignore itself
!.gitignore
